@import "_footer";
@import "_variables";


 

body{
    background-color: $colorprimario;
    margin: 0%;
    padding: 0%;
    color: white;
    .container-fluid{
        background-color: $colorsecundario;
        font-size: 20px;
    }
}


h2{
    font-size: 24px;
}
h1{
    font-size: 28px;
}
h3{
    font-size: 18px;
}
p{
    font-size: 18px;
}

